body {

    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:#eee;

}

/* HEADER */

.header {

    height:12vh;

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding:10px 20px;

    background:#1a1a1a;

    border-bottom:1px solid #333;

}

.title {

    font-size:26px;
    font-weight:bold;

}

#status {

    font-size:14px;
    color:#aaa;

}


/* DASHBOARD GRID */

.dashboard {

    display:grid;

    grid-template-columns: 20% 60% 20%;

    height:88vh;

}


/* PANELS */

.panel {

    padding:15px;

    overflow:auto;

}


.tasks {

    background:#181818;
    border-right:1px solid #333;

}


.calendar {

    background:#101010;
   
}

.calendarControls{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:10px;

}

.calendarControls button{

background:#333;
border:none;
color:white;
padding:6px 10px;
cursor:pointer;

}

#calendarTitle{

font-weight:bold;

}

#calendarGrid{

display:grid;

grid-template-columns:repeat(7,1fr);

gap:4px;

}

.dayHeader{

text-align:center;
font-size:12px;
color:#888;

}

.dayCell{

background:#1b1b1b;

height:80px;

padding:6px;

font-size:13px;

}

.today{

border:2px solid #4CAF50;

}

.event{

font-size:11px;

background:#2c3e50;

padding:2px 4px;

margin-top:4px;

border-radius:3px;

color:white;

}




.shopping {

    background:#181818;
    border-left:1px solid #333;

}


/* TITELS */

h2 {

    margin-top:0;
    font-size:18px;

    border-bottom:1px solid #333;

    padding-bottom:5px;

}


/* LIJSTEN */

ul {

    list-style:none;
    padding-left:0;

}

li {

    padding:6px 0;

}
